<%= inspect(@tally) %>

<p>
  <%= get_flash(@conn, :error) %>
</p>

<p>
  Turns left: <%= @tally.turns_left %>
</p>

<p>
  Word so far: <%= word(@tally) %>
</p>

<p>
  <%= form_for @conn, hangman_path(@conn, :make_guess), [as: :guess, method: :put], fn(form) -> %>
    <%= text_input(form, :guess)%>
    <%= submit "Guess" %>
  <% end %>
</p>
